@require "vars"

.rd-resource
    position relative
    border-top 1px solid $border-color
    width 100%

.rd-resource-title
    font-size 20px
    font-family: $code-font
    margin-left: -36px
    font-weight bold
    color #ec7600