salutationLine: 'string'
lastname: 'string'
firstname: 'string'
email: 'string'
# Address is required if either sendParkingCardVignette or
# sendParkingCardBadge is true
addressStreet: 'string'
addressZipcode: 'string'
addressCity: 'string'
addressCountryId: 'integer'
mobilePhone: 'string'
correspondenceLanguageId: 'integer'
