MultiLangString:
    de: 'string'
    fr: 'string'
    it: 'string'

Error:
    code: 'integer'
    message:
        de: 'string'
        fr: 'string'
        it: 'string'

FieldError:
    code: 'integer'
    fieldName: 'string'
    message:
        de: 'string'
        fr: 'string'
        it: 'string'

