$header-font = Raleway, sans-serif
$header-size = 28px

$subhead-size = 14px

$copy-font = Roboto, sans-serif

$code-font = 'Inconsolata' monospace

$regular-text-color = rgba(0, 0, 0, 0.87)
$secondary-text-color = rgba(0, 0, 0, 0.54)

$border-color = rgba(200, 200, 200, 0.4)
$code-background = #fcfcfc
$code-property-color = #23b
$type-color = #90a

$sidebar-background = #fafcfc
$dark-content-background = #2d3134