$section-header-font = Raleway, sans-serif
$section-header-size = 24px

$subsection-header-font = Roboto, sans-serif
$subsection-header-size = 20px

$subhead-size = 13px

$copy-font = Roboto, sans-serif
$copy-size = 16px
$code-font = 'Inconsolata' monospace

$regular-text-color = rgba(0, 0, 0, 0.87)
$inverted-text-color = rgb(208, 212, 215)
$secondary-text-color = rgba(0, 0, 0, 0.54)

$border-color = rgba(200, 200, 200, 0.4)
$code-background = #fcfcfc
$code-property-color = #23b
$type-color = #90a

$sidebar-background = #fafcfc
$dark-content-background = #2d3134