$blue = #23b
$purple = #90a

$section-header-font = Raleway, sans-serif
$section-header-size = 24px
$print-section-header-size = 20px

$subsection-header-font = Roboto, sans-serif
$subsection-header-size = 20px

$subhead-size = 14px
$print-subhead-size = 11px

$copy-font = Roboto, sans-serif
$copy-size = 16px
$print-copy-size = 12px

$code-font = 'Inconsolata' monospace

$regular-text-color = rgba(0, 0, 0, 0.87)
$inverted-text-color = rgb(208, 212, 215)
$secondary-text-color = rgba(0, 0, 0, 0.54)

$border-color = rgba(200, 200, 200, 0.4)


$code-background = #fcfcfc
$code-property-color = $blue
$type-color = $purple

$sidebar-background = #fafcfc
$dark-content-background = #2d3134

$no-page-break
    page-break-after avoid
    page-break-inside avoid