@require "vars"

.rd-copy
    font-family $copy-font

    h2, h1
        font-size $section-header-size
        font-family $section-header-font
        font-weight normal

    h3, h4, h5, h6
        font-size $subhead-size
        font-family $subsection-header-font
        text-transform uppercase

    a
        color $blue
        text-decoration none
    code
        display: block
        max-width: 300px
        overflow: scroll