@require "vars"

.rd-section-title
    font-size $section-header-size
    font-weight normal
    font-family $section-header-font

.rd-section
    position relative
    //border-bottom 1px solid $border-color
    padding 24px 0
    width 100%