@require "vars"

.rd-subSection-title
    font-size $subsection-header-size
    font-weight normal
    font-family $subsection-header-font
    text-transform uppercase
    margin-top 0.83em
    margin-bottom 0.4em