pre, code
    font-family 'Inconsolata' monospace
    font-size 14px

h1,h2
    font-family Raleway, sans-serif


body, h3, h4
    font-family Roboto, sans-serif
    font-size 15px



h2
    margin-top 40px

h3
    margin-top 30px
    font-size 20px

.list-group-item h3
    margin-top 10px

h4
    font-size 15px
    font-weight bold


section
    margin 20px 0

.panel-heading
    user-select none
