#%RAML 0.8
baseUri: https://api.github.com/
title: RAML test-fixture
version: 1
protocols: [ HTTPS ]
mediaType: application/json
/meta:
    get:
        responses:
            200:
                body:
                    application/json:

                        schema: |
                            verifiable_password_authentication: 'string'
                            github_services_sha: 'string'
                            hooks: ['string']
                            git: ['string']
                            importer: ['string']

                        example: |
                            {
                              "verifiable_password_authentication": true,
                              "github_services_sha": "0778ac6e6494d1c4994bb16ab4a0ecd7602c604e",
                              "hooks": [
                                "192.30.252.0/22"
                              ],
                              "git": [
                                "192.30.252.0/22"
                              ],
                              "importer": [
                                "54.221.4.64",
                                "54.227.175.200",
                                "54.80.154.161",
                                "54.163.55.203",
                                "54.166.141.155",
                                "54.80.168.241",
                                "54.159.221.200",
                                "54.196.81.106",
                                "54.158.161.132"
                              ]
                            }

